* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* Nav Begins Here */
nav {
    width: 100%;
    height: 70px;
    background: #111;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    border-bottom: 1px solid gray;
}

/* Logo */
#logo span {
    font-size: 24px;
    font-weight: bold;
}

/* Menus */
#menus {
    display: flex;
    gap: 25px;
    background-color: #3b3a3a;
    padding: 15px;
    border-radius: 10px;
}

#menus a {
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    font-size: 16px;
    transition: color 0.3s;
}

#menus a:hover {
    color: #ffb703;
}

/* Icons */
#icons {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    cursor: pointer;
}

#icons i:hover {
    color: #ffb703;
}

/* Hamburger */
#hamburger-menu {
    display: none;
}
/* nav Ends here */

/* Image Slider Begins here  */
#crousel {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
  }
.crousel-track{
    display: flex;
    transition: transform 0.5s ease;
}
  
  .crousel-item {
    min-width: 100%;
    transition: 0.5s;
  }
  
  .crousel-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  
  /* Buttons */
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 22px;
  }

  button:hover {
    background: rgba(0,0,0,0.7);
  }
  #prev { left: 10px; }
  #next { right: 10px; }
  
/* Image Slider Ends Here */

/* Category Section Begins here */
#category-section {
 display: flex;
 overflow-x: scroll;
 justify-content: space-evenly;
 align-items: center;
padding: 10px;
}
::-webkit-scrollbar {
  display: none;
}
.category-item{
    flex: none;
    text-align: center;
    margin: 0 15px;
    cursor: pointer;
}
.category-item:hover{
    transform: translateY(-5px);
    transition: transform 0.3s;
}
.category-image{
    object-fit: cover;
}
.category-image img{
    width: 100%;
    height: 100%;
}
.category-name{
    margin-top: 5px;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
}
/* Category Section ends here */

/* Ribbon Begins here */
#ribbon{
    width: 100%;
    height: 50px;
    background: #ffb703;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #111;
    font-weight: bold;
}
/* Ribbon ends here */
