* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    width: 100%;
    height: 70px;
    background: #111;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    border-bottom: 1px solid gray;
}

/* Logo */
#logo span {
    font-size: 24px;
    font-weight: bold;
}

/* Menus */
#menus {
    display: flex;
    gap: 25px;
    background-color: #3b3a3a;
    padding: 15px;
    border-radius: 10px;
}

#menus a {
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    font-size: 16px;
    transition: color 0.3s;
}

#menus a:hover {
    color: #ffb703;
}

/* Icons */
#icons {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    cursor: pointer;
}

#icons i:hover {
    color: #ffb703;
}

/* Hamburger */
#hamburger-menu {
    display: none;
}

/* Search box (hidden initially) */
.search-box {
    position: absolute;
    top: 80px;
    right: 40px;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

.search-box input {
    padding: 8px;
    width: 200px;
    border: 1px solid #ccc;
    outline: none;
}
#category-section {
 display: flex;
 overflow-x: scroll;
 justify-content: space-evenly;
 align-items: center;
padding: 10px;
}
::-webkit-scrollbar {
  display: none;
}
.category-item{
    flex: none;
    text-align: center;
    margin: 0 15px;
    cursor: pointer;
}
.category-item:hover{
    transform: translateY(-5px);
    transition: transform 0.3s;
}
.category-image{
    object-fit: cover;
}
.category-image img{
    width: 100%;
    height: 100%;
}
.category-name{
    margin-top: 5px;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
}
#ribbon{
    width: 100%;
    height: 50px;
    background: #ffb703;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #111;
    font-weight: bold;
}
