/* Responsive */
@media (max-width: 768px) {
    #menus {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: #111;
        flex-direction: column;
        align-items: center;
        display: none;
        padding: 20px 0;    
        border-radius: 0px;
    }

    #menus.active {
        display: flex;
    }

    #hamburger-menu {
        display: block;
    }
    .category-image{
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
    .category-name{
        font-size: 10px;
    }
    .crousel-item{
        flex: none;
        width: 100%;
        height: 200px;
    }
}
