/* Responsive */
@media (max-width: 768px) {
    #menus {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: #111;
        flex-direction: column;
        align-items: center;
        display: none;
        padding: 20px 0;
    }

    #menus.active {
        display: flex;
    }

    #hamburger-menu {
        display: block;
    }
}
