/* Responsive */
@media (max-width: 768px) {
    #menus {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: #111;
        flex-direction: column;
        align-items: center;
        display: none;
        padding: 20px 0;    
        border-radius: 0px;
        z-index: 999;
    }

    #menus.active {
        display: flex;
    }

    #hamburger-menu {
        display: block;
    }
    .category-image{
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
    .category-name{
        font-size: 10px;
    }
    #crousel {
        display: flex;
        width: 100%;
        height: 200px;
        overflow: hidden;
        position: relative;
      }
    .crousel-item{
        flex: none;
        width: 100%;
        height: 200px;
    }
    .crousel-item img{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    #crousel button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(0,0,0,0.5);
        color: white;
        border: none;
        padding: 5px 5px;
        cursor: pointer;
        font-size: 15px;
      }
      #ribbon span{
        font-size: 12px;
      }
      .product-box{
        width: 95%;
        margin: 10px auto;
        padding: 10px;
    }

    .item{
        width: 130px;
    }

    .img-container{
        height: 130px;
    }

    .product-box-header h2{
        font-size: 18px;
    }

    .product-box-header button{
        padding: 6px 10px;
        font-size: 12px;
    }

    .info p{
        font-size: 12px;
    }
    .bs-track {
        gap: 30px;
      }
      .bs-track img {
        height: 30px;
      }
      .ec-newsletter {
        flex-direction: column;
        gap: 10px;
      }
      .offer-section {
        padding: 35px 15px;
    }

    .offer-content h2 {
        font-size: 1.3rem;
    }

    .offer-content p {
        font-size: 0.9rem;
    }

    .offer-btn {
        width: 100%;
        padding: 12px;
    }
    . .price-section {
        padding: 10px;
    }

    .wrapper-header h2 {
        font-size: 1.1rem;
    }

    .wrapper-header button {
        padding: 6px 10px;
        font-size: 0.75rem;
    }

    .price-item {
        min-width: 140px;
        padding: 8px;
    }

    .price-item p {
        font-size: 0.8rem;
    }

    .price-item img {
        margin-bottom: 6px;
    }
    .search-box {
        flex-direction: column;
    }

    .search-box button {
        width: 100%;
    }
      .item-btn {
        padding: 8px 14px;
        font-size: 12px;
        border-radius: 20px;
    }
}
